nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 20px;
}
nav li:hover{
    background-color: cadetblue;

}
nav li a{
    text-decoration: dashed;
    color: black;
    font-size: 30px;
}
nav >ul > li:hover > ul{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: brown;
    padding: 0;
    
    
}
.dropdown li{
    padding: 0 10px;
    margin: 0;
}
